.time-chooser {
    line-height: 300%;
}

.profile {
    position: fixed;
    top: 2%;
    right: 2%;
  }

.item_title {
    font-weight: bold;
}

.horizontal {
    text-align:center;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.padded {
    padding: 10% 0;
}

.page {
    margin-left: 0%;
    width: 900px;
}

.h {
    height:500px;
}

ul.t {
    margin:0;
}

#saved_addresses {
    padding: 0;
    list-style-type: none;
}

#addresses {
    padding: 0;
    list-style-type: none;
}

#four-left, #four-right, #four-left-2, #four-right-2{
    display: inline-block;
}
#four-right, #four-right-2{
    margin-left: 20px;
    vertical-align: top;
    padding-top: 20px;
    width: calc(100% - 580px);
}
.common-line, .common-line-2{
    height: 150px;
    border-radius: 15px;
    border:2px solid #000;
    font-size: 0;
    width: 550px;
    margin-bottom: 20px;
}
.common-line>div, .common-line-2>div{
    display: inline-block;
    vertical-align: top;
}
.common-line .left-icon, .common-line-2 .left-icon{
    display: inline-block;
    width: 60px;
    height: 60px;
    margin: 40px;
    background-size: 100% 100%;
    background-image: url("./images/house-fill.svg");

}
.right-icon{
    width:400px ;
    height: 146px;
    padding:10px;
    border-left: 1px solid #000;
}
.right-icon .line-description{
    font-size: 14px;
}
.organizations-info .active{
    background-color: rgb(160,220,229);
    
}
#four-right .line-description, #four-right-2 .line-description{
    font-size: 14px;
}
#four-right .map-images, #four-right-2 .map-images{
    /* width: 416px; */
    height: 280px;
    background-size: 100% 100%;
    background-image: url("./images/2.png");
    border-radius: 15px 15px 0 0;
}
#four-right .detail-card, #four-right-2 .detail-card{
    border: 2px solid #000;
    border-radius: 0 0 15px 15px;
    padding:20px;
    height: 250px;
    display: none;
}
#four-right .card-display, #four-right-2 .card-display{
    display: block;
}

.img_wrapper {
    position: relative;
}

.img_overlay {
    position: absolute;
    top: 75%;
  }
#v-pills-tabContent{
    margin-top: 65px;
}
#user_profile .tabs2-title{
text-align: center;
font-weight: bold;
}
#v-pills-donation-schedule{
    padding:20px;
}
#donation-details .details-content{
    border:2px solid #000;
    border-radius: 20px;
    margin:0;
    padding:40px 20px;
}
#donation-details .description-content{
    border:2px solid #000;
    border-radius: 5px;
    padding:5px;
}
#donation-table thead tr,#table-details thead tr{
    background-color: rgb(204, 204, 204);
}
#donation-table tbody tr:nth-child(even),#table-details tbody tr:nth-child(even){
    background-color: rgb(238, 238, 238);
}
#donation-table tbody tr:nth-child(odd),#table-details tbody tr:nth-child(odd){
    background-color: #fff;
}
#donation-table tbody tr:hover,#table-details tbody tr:hover{
    background-color: rgb(160, 220, 229);
}
#table-details  tbody tr.active,#donation-table  tbody tr.active{
    background-color: rgb(160, 220, 229);
}

.remove-item {
    position: absolute;
    right: 5%;
    bottom: 10%;
}

.btn-next, .btn-confirm {
    position: fixed;
    right: 5%;
    bottom: 10%;
}
.item-card {
    margin-bottom: 20px;
}

.btn-primary, .btn-success, .btn-secondary {
    color: white !important;
}

.btn-primary.active {
    background-color: rgb(63, 148, 115) !important;
}
.image-icon{
    display: inline-block;
    width: 75px;
    height: 50px;
    background-size: 100% 100%;
    background-image: url("./images/dune.jpg");
}
.image-icon-2{
    display: inline-block;
    width: 75px;
    height: 50px;
    background-size: 100% 100%;
    background-image: url("./images/ikea_desk.jpg");
}

#nav-link {
    background-color: white !important;
}

/* .calendar-month {
    vertical-align: bottom;
} */

th.left {
    justify-content: left;
    text-align: left;
}

th.right {
    justify-content: right;
    text-align: right;
}

.donation-schedule th {
    width: 4.5vw;
}

.donation-schedule td {
    width: 4.5vw;
    height: 4.5vw;
    vertical-align: top;
}

tr.week th, tr.month th {
    border: none;
}

td.day {
    cursor: pointer;
}

td.day-inactive {
    color: gray;
}

.circle-sel {
    border-radius: 50%;
    width: 2vw;
    height: 2vw;
    /* padding: 10px; */
    background: #2eb883;
    border: 1px solid gray;
    color: #000;
    text-align: center;
    /* font: 32px Arial, sans-serif; */
}

.circle-non {
    border-radius: 50%;
    width: 2vw;
    height: 2vw;
    /* padding: 10px; */
    background: #57b2c0;
    border: 1px solid gray;
    color: #000;
    text-align: center;
    /* font: 32px Arial, sans-serif; */
}

.circle-appt {
    border-radius: 50%;
    width: 1vw;
    height: 1vw;
    /* padding: 10px; */
    background: black;
    border: 1px solid black;
    color: #000;
    text-align: center;
    /* font: 32px Arial, sans-serif; */
    float: left;
    margin-right: 5px;
    margin-top: 5px;
}

.common-line-3{
    height: 130px;
    border-radius: 15px;
    border:2px solid #000;
    font-size: 0;
    width: 500px;
    margin-bottom: 20px;
}
.common-line-3>div{
    display: inline-block;
    vertical-align: top;
}
.common-line-3 .left-icon{
    display: inline-block;
    width: 40px;
    height: 60px;
    margin: 40px;
    background-size: 100% 100%;
    background-image: url("./images/house-fill.svg");

}
.right-icon-2{
    width: 300px ;
    height: 126px;
    padding:10px;
    border-left: 1px solid #000;
}
.right-icon-2 .line-description{
    font-size: 14px;
}