.profile {
    position: fixed;
    top: 2%;
    right: 2%;
    border: 3px solid #73AD21;
  }

.item_title {
    font-size: 1em;
    font-weight: bold;
}

.border {
    border: 5px;
}

.horizontal {
    text-align:center;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.padded {
    padding: 10% 0;
}

.page {
    margin-left: 100%;
    width: 100%;
}